.create_btn{
    margin-bottom: 497px;
    width: 219px;
    margin-left: -129px;

}
.table{
    margin: -80px;
}
.MA{
    margin-bottom:600px;
    font-weight:bold;
    width: 289px;
    color: rgb(45,135,211);
}
.row{
    margin: auto;
}
.container{
    margin: auto;
    margin-top: -90px;
}

/* Path: frontend\src\pages\manage-user\userProfile.js */
