@import './variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  button.create-btn {
    background-color: #2f80ed;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #1c5da8;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .back-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #2f80ed;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: #2f80ed;
      color: #fff;
    }
  }
}

.table-container {
  padding: 30px;

  table {
    width: 100%;
    border-collapse: collapse;
    left: 0;

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }

    th {
      background-color: #2f80ed;
      color: #fff;
    }

    tbody tr:hover {
      background-color: #f5f5f5;
    }
    .buttonsList {
      display: flex;

      .myButton {
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        background-color: #ffffff;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #666666;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 12px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
        margin: 5px;
      }
      .myButton:hover {
        background: linear-gradient(
          to bottom,
          #c3d9d8 5%,
          #ffffff 100%
        ) !important;
        background-color: #f6f6f6 !important;
      }
    }

    button {
      position: relative;
      font-size: 16px !important;
      width: 90px;
      height: 50px;
      margin-right: 1px;
      margin-left: 1px;
      color: #fff;
      background: #333;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-decoration: none;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      span {
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 20px;
        background: #fff;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: 0.5s;
      }

      &:hover span {
        transform: scale(1.5) rotate(60deg) translateY(10px);
      }

      span::before {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        box-shadow: 12px -2px 0 #333, 12px -3px 0 #333, 15px -1px 0 #333,
          6px -2px 0 #fff;
        transition: 0.5s;
      }

      &:hover span::before {
        transform: rotate(-90deg) translateX(50%) translateY(-10px);
      }
    }
  }
}
.search-container {
  display: flex;
  padding: 30px;

  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #007bff;
    margin-right: 10px;
    font-size: 16px;
    flex: 1;
    outline: none;
  }

  select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #007bff;
    font-size: 16px;
    width: 200px;
  }

  .clear-button {
    position: relative;
    left: -50px;
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.save-search {
  display: flex;
  justify-content: flex-end;
  padding: 0 60px;

  .save-search-button {
    background-color: $primary-color;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      color: #666;
      &:hover {
        background-color: #ccc;
      }
    }

    &.saved {
      background-color: #28a745;
      &:hover {
        background-color: #218838;
      }
    }
  }
}
