.privacy-fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.fade-in {
    opacity: 1;

    h1, p, ul {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }

    h1 {
      transition-delay: 0.25s;
    }

    p {
      transition-delay: 0.5s;
    }

    ul {
      transition-delay: 0.75s;
    }
  }
}