@import "variables";
@import "mixins";

.req-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  h2{
    font-size: 2rem;
    font-weight: 400;
  }
  .add-btn{
    @include button-primary("Add Request");
  }
}
.req-info {
  text-align: center;
  margin: 2rem 0;
}

.Btn {
  display: flex;
  justify-content: center;
  margin: 0 !important;
}

.table {
  width: 100%;
  margin-top: 2rem;
  th,
  td {
    padding: 1rem;
  }
}

.error, 
.msg,
.msg-success {
  position: fixed;
  top: 0;
  left: 0;
  background: $primary-color;
  color: #fff;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  span {
    margin-right: 1rem;
  }
  .close-btn {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: lighten($primary-color, 20%);
    }
  }
}

.error {
  background: $color-error;
}
.msg-success {
  background: $color-success;
}

.table {
  th {
    background: $primary-color;
    color: #fff;
  }
  td {
    vertical-align: middle;
  }
  .update-btn {
    @include button-primary("Update");
  }
}

@media (min-width: 768px) { 
  .table {
    td, th {
      padding: 1.5rem;
    }
  }
}