.request-card-header {
  display: flex;
  justify-content: space-between;
}
.request-table {
  border-collapse: collapse;
}

.request-table tr:hover {
  background-color: #f5f5f5;
}
span.download-button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
span.download-button:hover {
  background-color: #3e8e41;
}
